body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


#final_menu {
  position: fixed;
  top: 40px;
  left: 0;
  width: 100%;
}


.menu_item {
  position: absolute;
  font-size: 20px;
  color: black;
  text-decoration: none;
}

.menu_item:hover {
  color: blue;
}


.menu_item:nth-child(1) {
  left: 40px;
  top: 0;
}


.menu_item:nth-child(2) {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}


.menu_item:nth-child(3) {
  left: 60px;
  top: 230px;
}

.menu_item:nth-child(4) {
  left: 60px;
  top: 330px;
}


.menu_item:nth-child(5) {
  left: 60px;
  top: 430px;
}

#stage {
  margin-top: 140px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  padding: 70px 70px 70px 200px;
}

.art_img {
  width: 100%;
  height: auto; 
  display: block;
}

.grid{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  gap:24px;
}

.art_img{
  width:100%;
  aspect-ratio: 3 / 4;
  object-fit: contain;
  display:block;
}



#big{
  max-width: 90vw;
  max-height: 80vh;
  width: auto;
  height: auto;
}

#viewer {
  border: none;
  background: transparent;
  outline: none;
  padding: 0;
  max-width: none;
  max-height: none;
}

#viewer::backdrop {
  background: rgba(0, 0, 0, 0.8);
}

#info {
  color: white;
  margin: 10px 0 0 0;
  text-align: center;
}

